php_flag allow_url_include on
php_flag output_buffering on

RewriteEngine on

ReWriteRule ^Home$ index.php [NC]
ReWriteRule ^Game index.php?sPage=Game [NC]
ReWriteRule ^Settings index.php?sPage=Settings [NC]
ReWriteRule ^Ranking index.php?sPage=Ranking [NC]
ReWriteRule ^End index.php?sPage=End [NC]
ReWriteRule ^Login index.php?sPage=Login [NC]
ReWriteRule ^Logout index.php?sPage=Login&sLogout=1 [NC]
ReWriteRule ^RegisterCard index.php?sPage=RegisterCard [NC]

